<form action="/recipes" method="post">
<h1>Name: <input type="text" name="name"></h1>
<h2>Cook Time: <input type="text" name="cook_time" ></h2>
<p>ingredients: <input type="text" name="ingredients"></p>
<input type="submit" value="submit">
</form>
